.li {
    display: inline;
    list-style-type: none;
    position: relative;
    left: 851px;
    margin: 7px;
}

.li a {
    color: grey;
    text-decoration: none;
}

.li a:hover {
    color: black;
}

/*#services:hover {
    display: none;
}*/
select:hover {
    display: block;
}
.li1 {
    display: block;
}

.h3 {
    position: relative;
    top: -33px;
    left: 118px;
    color: brown;
    font-size: 20px;
}

.header-img  {
    width: 1345px;
    height: 320px;
    position: relative;
    left: -8px;
    top: -16px;
    
  }

#object {
    position: relative;
    top: -232px;
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    left: -411px;
}

#drama{
    position: relative;
    top: -269px;
    font-size: 59px;
    font-family: sans-serif;
    color: white;
    left: 138px;
}

.engage_btn {
    position: relative;
    top: -229px;
    /* font-size: 59px; */
    font-family: sans-serif;
    /* color: white; */
    left: 138px;
    height: 37px;
    border-radius: 8px;
    background: orange;
    border: 1px solid transparent;
    width: 106px;
    cursor: pointer;
}
.engage_btn :active{
    border:  none;
    text-shadow: saddlebrown;
}

#black {
    background: black;
    /* width: 23px; */
    /* height: 23px; */
    width: 1366px;
    position: relative;
    left: -8px;
    top: -16px;
    height: 320px;
}

#white_div {
    height: 134px;
    position: relative;
    top: -125px;
    width: 1341px;
    height: 128px;
}

#superior {
    color: #e49a6f;
    font-size: 36px;
    font-family: sans-serif;
    position: relative;
    left: 553px;
    top: 51px;  
}

.para{
    font-size: 21px;
    color: grey;
    font-family: sans-serif;
    text-align: -webkit-center;
    margin-top: 79px;
    width: 1166px;
    margin-left: 97px;
}
.images{
width: 1357px;
    height: 220px;
    margin-left: -10px;
    
    
}

 .images3{
    width: 450px;
    height: 217px;
    float: left;
    border: 1px solid black;
}

#worldClass {
    color: #e49a6f;
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 45px;
    margin-left: 480px;
}
.cart1{
     border: 1px solid #c7c6c6;
    width: 286px;
    height: 450px;
    margin-left: 51px;
    margin-top: 19px;
}
.cart1 > img{
    
    margin-left: 16px;
    margin-top: 14px;
}
.cart1 > h3{
    color: #e49a6f;
    margin-left: 18px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: initial;
   
}
.cart1 > p{
    margin-left: 17px;
    font-family: sans-serif;
    font-size: 16px;
}
.cart1 > input{
    height: 30px;
    margin-left: 17px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
}
.cart1 > button{
     width: 130px;
    background-color: orange;
    cursor: pointer;
    border: transparent;
    border-radius: 3px;
    margin-top: 0px;
    height: 35px;
    font-size: 17px;
    color: white;
    margin-left: -11px;
}
.cart1 > button :hover{
    background-color: saddlebrown;
}
.row{
    float: left;
    display: -webkit-inline-box;
}





.cart2{
border: 1px solid #c7c6c6;
    width: 286px;
    height: 450px;
    margin-left: 16px;
    margin-top: 19px;
}
.cart2 > img{
    
    margin-left: 16px;
    margin-top: 14px;
}
.cart2 > h3{
    color: #e49a6f;
    margin-left: 18px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: initial;
   
}
.cart2 > p{
    margin-left: 17px;
    font-family: sans-serif;
    font-size: 16px;
}
.cart2 > input{
    height: 30px;
    margin-left: 17px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
}
.cart2 > button{
     width: 130px;
    background-color: orange;
    cursor: pointer;
    border: transparent;
    border-radius: 3px;
    margin-top: 0px;
    height: 35px;
    font-size: 17px;
    color: white;
    margin-left: -11px;
}
.cart2 > button :hover{
    background-color: saddlebrown;
}




.cart3{
border: 1px solid #c7c6c6;
    width: 286px;
    height: 450px;
    margin-left: 16px;
    margin-top: 19px;
}
.cart3 > img{
    
    margin-left: 16px;
    margin-top: 14px;
}
.cart3 > h3{
    color: #e49a6f;
    margin-left: 18px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: initial;
   
}
.cart3 > p{
    margin-left: 17px;
    font-family: sans-serif;
    font-size: 16px;
}
.cart3 > input{
    height: 30px;
    margin-left: 17px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
}
.cart3 > button{
     width: 130px;
    background-color: orange;
    cursor: pointer;
    border: transparent;
    border-radius: 3px;
    margin-top: 0px;
    height: 35px;
    font-size: 17px;
    color: white;
    margin-left: -10px;
}
.cart3 > button :hover{
    background-color: saddlebrown;
}


.cart4{
border: 1px solid #c7c6c6;
    width: 286px;
    height: 450px;
    margin-left: 16px;
    margin-top: 19px;
}
.cart4 > img{
    
    margin-left: 16px;
    margin-top: 14px;
}
.cart4 > h3{
    color: #e49a6f;
    margin-left: 18px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: initial;
   
}
.cart4 > p{
    margin-left: 17px;
    font-family: sans-serif;
    font-size: 16px;
}
.cart4 > input{
    height: 30px;
    margin-left: 17px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
}
.cart4 > button{
     width: 130px;
    background-color: orange;
    cursor: pointer;
    border: transparent;
    border-radius: 3px;
    margin-top: 0px;
    height: 35px;
    font-size: 17px;
    color: white;
    margin-left: -11px;
}
.cart4 > button :hover{
    background-color: saddlebrown;
}
.b_div{
    width: 960px;
}

.serviceImg{
width: 544px;
    border-radius: 50%;
    margin-left: 387px;z

}
#findUs{
     color: #e49a6f;
    font-size: 36px;
    font-family: sans-serif;
    position: relative;
    left: 593px;
    top: 24px;

}
#unparallel{
         color: #e49a6f;
    font-size: 36px;
    font-family: sans-serif;
    position: relative;
    left: 491px;
    top: 52px;
}.map{
    width: 1366px;
    height: 320px;
    margin-top: 43px;
    border: 1px solid rgba(128, 128, 128, 0.39);
}
.contact > p{
       font-family: sans-serif;
    color: grey;
    font-size: 19px;
    text-align: center;
}
.contact > h2{
        font-family: sans-serif;
    text-align: center;
    color: #e9a06f;
    font-size: 28px;
}

.row1{
    float: left;
    display: -webkit-inline-box;
    background-color: rgba(235, 236, 235, 0.36);
    width: 100%;
    height: 232px;
}
.ul{
    list-style: none;
}
.ul1{
    margin-left: 20px;

}
.ul2{
 margin-left: 275px;
    
}
.ul3{
   margin-left: 281px;
    
}
ul > li{
    font-family: sans-serif;
}
ul > a{
    font-family: sans-serif;
    color: #9E9E9E;
    text-decoration: none;
}
.ul > a :hover{
    text-decoration: underline;
}

.ul3 > ul > li > input{
    height: 29px;
    /* margin-left: 0px; */
    font-size: 14px;
    color: rgba(85, 85, 85, 0.58);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 206px;
}
.ul3 >  ul > li > button{
    width: 99px;
    background-color: orange;
    cursor: pointer;
    border: rgb(204, 204, 204);
    border-radius: 2px;
    margin-top: 0px;
    height: 32px;
    font-size: 15px;
    color: white;
    margin-left: -21px;
}
.ul3 >  ul > li > button :hover{
    background-color: saddlebrown;
}
.terms > p >  a{
    
    color: orange;
margin-top: 5px;

}
.terms > p {
    text-align: center;
    font-family: sans-serif;
    color: grey;
    margin-top: 20px;
}